@media (max-width:1024px){.caption2{display:none}.img{display:block;margin-left:auto;margin-right:auto;}}

.chevron li{
    display: block;
}

.chevron li:before{
    content: "..\image\right-chevron.png";
    float:left;
}