.orange{
    border-color:#DC822B;
}

.bleu{
    color:#0B1A31;
}

.orangeText{
    color: #DC822B;
}

.bd-top-orange{
    border-top: 4px solid #dc822b;
}

.menu ul li:hover{
    background: #e6e6e6;
}

.btn-h a:hover{
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    filter: brightness(100%);
}

.spacing{
    letter-spacing: 2px;
}

.spacing-2{
    letter-spacing: 1.5px;
}

.text-over{
    top:300px;left:30px;text-shadow:0 1px 2px rgba(0,0,0,100);
}
@media (max-width:1024px){
    .text-over{
        display:none;
    }
    .ref{
        display:block;
    }
}

.bg-fit{
    background: #f1f1f1;
    padding: 1.5rem;
    border-radius: 9px;
}

.arrow{
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

